body * {
    /* border: 4px solid red; */
    font-family: 'Arial Narrow Bold', sans-serif;

    padding: 10px;
    margin: 0px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.nav-up {
    background-color: #1f2937;
    color: #f9faf8;
    position: fixed;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
}

.nav-up .unir {
    font-size: 14px;
    flex-direction: row;
    margin-right: 15%;
    margin-bottom: -10px;
}
.nav-up li {
    margin-bottom: -10px;
}

.nav-up li:hover{
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6,
    0 0 25px #0073e6, 0 0 30px #0073e6
    /*efecto neon copiado de codepen*/

}

.nav-up img {
    margin-right: auto;
    margin-left: 15%;
    margin-bottom: -10px;
    width: 60px;
    padding: 0%;
    /*si uso flex: se acomoda en todo el espacio*/
}


.box1 {
    background-color: #1f2937;
    margin: 0 -8px;
    padding: 10% 15% 0 15%;
    color: #f9faf8;
    flex-direction: row;
    align-items: stretch;


}

.box1 .text {
    flex: 1 1 0;
    flex-direction: column;
}

.box1 h1 {
    width: 90%;
    font-size: 48px;
    justify-content: flex-start;
    margin-top: -20px;

}

.box1 p {
    width: 90%;
    font-size: 14px;
}

.box1 button {
    color: #f9faf8;
    justify-content: center;
    width: auto;
    margin: auto;
    background-color: #3882f6;
    border: 1px solid #3882f6;
    border-radius: 10px;
    font-size: 20px;
}

.box1 button:hover {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6,
        0 0 25px #0073e6, 0 0 30px #0073e6
        /*efecto neon copiado de codepen*/
}

.box1 .img {
    width: 40%;

}

.box1 img {
    width: 100%;
}



.box2 {
    font-size: 18px;
    background-color: white;
    flex-direction: column;
    padding: 3% 15% 3% 15%;

}

.box2 h1 {
    justify-content: center;
}


.box2 ul {
    flex-direction: row;
    flex: 1 1 0;
    gap: 10px;
    justify-content: space-between;
}

.box2 li {
    flex: 1 1 0;
    flex-direction: row;
    align-items: stretch;
}

.box2 img {
    flex: 1 1 0;
    border: 2px solid #3882f6;
    border-radius: 15px;

}

.box3 {
    font-size: 18px;
    background-color: #e5e7eb;
    justify-content: center;
    flex-direction: column;
    padding: 3% 15% 3% 15%;
}

.box3 .italic {
    font-style: italic;
}

.box3 .bold {
    font-weight: bold;
    width: 80%;
    justify-content: flex-end;
}


.box4 .box-blue {
    font-size: 18px;
    color: #f9faf8;
    background-color: #3882f6;
    width: 55%;
    border-radius: 10px;
    justify-content: center;
    padding: 10px;

}

.box4 button {
    font-size: 18px;
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    border-radius: 10px;
    color: #f9faf8;
    height: auto;
    width: auto;

    align-items: center;
   
}

.box4 .text {
    flex-direction: column;
    flex: 1 1 0;
    padding: 0px;

}

.box4 h2,
p {
    width: 90%;
    justify-content: flex-start;
}

.nav-down {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 18px;
    padding: 1%;
    flex: 1 1 0;
    justify-content: center;
}